<div class="top-bar">
  <p>Published on Filipe's website</p>
  <a href="/feed" title="Back to"> Go back to list</a>
</div>
<div class="container">
  <ng-container *ngIf="post$ | async as item; else loading">
    <section class="details-section">
      <header>
        <div class="initials" [style.background-color]="userColor">
          {{ getInitials(item.author) }}
        </div>
        <div class="writer">
          <p class="user">{{ item.author }}</p>
          <p class="user">
            Published on
            <span class="date">{{
              item.publish_date | date: "mediumDate"
            }}</span>
          </p>
        </div>
        <div class="about">
          <button class="favorite-btn" (click)="setFavorite($event, item)">
            <ng-container *ngIf="item.isFavorite; else notFavorite">
              <img src="/assets/star.png" alt="star" />
            </ng-container>
            <ng-template #notFavorite>
              <img src="/assets/star_outline.png" alt="star outlined" />
            </ng-template>
          </button>
          <a
            href="https://facebook.com"
            target="_blank"
            title="Writer facebook"
          >
            <img src="/assets/fb.png" alt="facebook" />
          </a>
          <a href="https://twitter.com" target="_blank" title="Writer twitter">
            <img src="/assets/tw.png" alt="twitter" />
          </a>
          <a
            href="https://linkedin.com"
            target="_blank"
            title="Writer linkedin"
          >
            <img src="/assets/ln.png" alt="linkedin" />
          </a>
        </div>
      </header>
      <h1 class="title">{{ item.title }}</h1>
      <h2 class="description">{{ item.description }}</h2>
      <p class="content" [innerHTML]="item.content"></p>
    </section>
  </ng-container>
  <ng-template #loading> Loading...</ng-template>
  <ng-template #emptyState>
    There are no comments yet, be the first to comment this post!
  </ng-template>
  <section class="comments-section">
    <h2>
      Comments <span>({{ commentsCount }} comments)</span>
    </h2>
    <ng-container *ngIf="comments$ | async as comments; else loading">
      <ng-container *ngIf="comments.length > 0; else emptyState">
        <section>
          <ng-container *ngFor="let comment of comments; let last = last">
            <header>
              <img src="/assets/user_default.png" alt="default user" />
              <p class="user">{{ comment.user }}</p>
              <p class="date">{{ comment.date | date: "mediumDate" }}</p>
            </header>
            <pre>{{ comment.content }}</pre>
            <hr *ngIf="!last" />
          </ng-container>
        </section>
      </ng-container>
    </ng-container>
  </section>
  <app-comment-form
    (formData)="handleFormSubmission($event)"
  ></app-comment-form>
</div>
