<h2>Post details</h2>
<ng-container *ngIf="post$ | async as item; else loading">
  <div>
    <p>{{ item.title }}</p>
    <p>{{ item.author }}</p>
    <p>{{ item.publish_date }}</p>
    <p>{{ item.description }}</p>
    <p>{{ item.slug }}</p>
    <hr />
  </div>
</ng-container>
<ng-template #loading> Loading...</ng-template>
<!-- apagar este empty state talvez -->
<ng-template #emptyState>
  There are no comments yet, be the first to comment this post!
</ng-template>
<section>
  <h2>Comments</h2>
  <ng-container *ngIf="comments$ | async as comments; else loading">
    <ng-container *ngIf="comments.length > 0; else emptyState">
      <div>
        <ng-container *ngFor="let comment of comments">
          <p>{{ comment.user }}</p>
          <p>{{ comment.date }}</p>
          <p>{{ comment.content }}</p>
          <hr />
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
  <!-- <div class="add-comment-div">
    <button type="button" (click)="addComment($event)">Add comment</button>
  </div> -->
</section>
<app-modal (handleCommentPublish)="handleFormSubmission($event)"></app-modal>
<app-comment-form (formData)="handleFormSubmission($event)"></app-comment-form>
