@import "src/app/ui/theming/_utilities.scss";

:host {
  img {
    width: 24px;
    height: 24px;
  }

  .top-bar {
    height: 80px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    margin-bottom: 48px;

    p {
      color: rgba(117, 117, 117, 1);
      font-size: cr(16px);
    }
  }

  section {
    &.details-section {
      width: 40vw;
      margin-bottom: 48px;
      box-shadow: 0 3px 30px 0 rgb(0 0 0 / 10%);
      padding: 16px;

      @media (max-width: 992px) {
        width: 80vw;
      }

      .title {
        font-size: cr(32px);
        margin-bottom: 24px;

        @media (max-width: 992px) {
          font-size: cr(24px);
        }
      }

      .description {
        font-size: cr(22px);

        @media (max-width: 992px) {
          font-size: cr(16px);
        }
        color: rgba(117, 117, 117, 1);
        font-weight: 400;
      }

      .content {
        color: rgba(0, 0, 0, 0.8);
        font-size: cr(20px);

        @media (max-width: 992px) {
          font-size: cr(16px);
        }
      }
    }

    &.comments-section {
      span {
        color: rgba(117, 117, 117, 1);
        font-size: cr(18px);
      }

      h2 {
        margin-top: 0;
      }

      width: 60vw;

      box-shadow: 0 3px 30px 0 rgb(0 0 0 / 10%);
      padding: 16px;

      margin-bottom: 48px;

      pre {
        font-size: cr(16px);
        font-family: "Lato", sans-serif;
      }
    }
  }

  header {
    display: flex;
    align-items: center;

    .initials {
      color: white;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      text-transform: uppercase;
    }

    .writer {
      flex: 1;

      p {
        margin-bottom: 0;
        margin-top: 0;

        &:not(:first-child) {
          color: darkgray;
        }
      }
    }

    .about {
      img {
        width: 24px;
        height: 24px;
        margin-left: 8px;
      }
    }

    .user {
      font-size: cr(18px);
      margin-left: 12px;
      flex: 1;

      @media (max-width: 768px) {
        font-size: cr(14px);
      }
    }

    .date {
      @media (max-width: 768px) {
        font-size: cr(14px);
      }
    }
  }
}
