<h2>Post details</h2>
<ng-container *ngIf="post$ | async as item; else loading">
  <div>
    <p>{{ item.title }}</p>
    <p>{{ item.author }}</p>
    <p>{{ item.publish_date }}</p>
    <p>{{ item.description }}</p>
    <p>{{ item.slug }}</p>
    <hr />
  </div>
</ng-container>
<ng-template #loading> Loading...</ng-template>
<ng-template #emptyState>
  There are no comments yet, be the first to comment this post!
</ng-template>
<section>
  <h2>Comments</h2>
  <ng-container *ngIf="comments$ | async as comments; else loading">
    <ng-container *ngIf="comments.length > 0; else emptyState">
      <section>
        <ng-container *ngFor="let comment of comments">
          <header>
            <img src="/assets/user_default.png" />
            <p class="user">{{ comment.user }}</p>
            <p class="date">{{ comment.date }}</p>
          </header>
          <p>{{ comment.content }}</p>
          <hr />
        </ng-container>
      </section>
    </ng-container>
  </ng-container>
</section>
<app-comment-form (formData)="handleFormSubmission($event)"></app-comment-form>
