<h2>feed component</h2>
<ng-container *ngIf="test$ | async as posts; else loading">
  <ng-container *ngIf="posts.length > 0; else emptyState">
    <div>
      <ng-container *ngFor="let item of posts">
        <p>{{ item.title }}</p>
        <p>{{ item.author }}</p>
        <p>{{ item.publish_date }}</p>
        <p>{{ item.description }}</p>
        <a [routerLink]="'/feed/' + item.id" target="_blank">More details</a>
        <hr />
      </ng-container>
    </div>
  </ng-container>
  <ng-template #emptyState> No posts to show! </ng-template>
</ng-container>
<ng-template #loading> Loading...</ng-template>
